body
    {
      background-color:#FAFAFA;
      font-family: calibri;
      border: #E74C3C 5px solid;
      margin: 100px;
      text-align: justify;
      padding: 25px 50px 75px 100px;
      }
  h1
    {
      background-color: #E3E3E3;
      color: #E74C3C;
     font-weight: normal;
      font-size: 40px;
      text-transform: uppercase;
      text-align: center;
    }
p.par
    {
    background-color: #FFFFFF;
    }
p.impar
    {
    background-color: #E3E3E3;
    }
img.grande
    {
     width: 70%;
     border-left: #000000 10px solid;
    }
object
    {
    width: 70%;
     border: #E3E3E3 5px solid;
    }
  li.par
    {
    background-color: #FFFFFF;
    width: 20%;
    }
li.impar
    {
    background-color: #E3E3E3;
    width: 20%;
    }